@charset "UTF-8";
/*Importaciones de los otros scss*/
/*Colores principales a utilizar*/
/*Mixin creado para realizar funciones básicas: margen, padding y el color de fondo*/
/*Mixin creado para imagenes*/
/*Comienzo de estilizado de scss*/
body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

.barra {
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  border-bottom: 2px solid #D7D7D7;
  padding: 2%;
  margin: 2%;
  background-color: #FFFFFF;
}
.barra__imagen {
  padding: auto;
  margin: auto;
  width: 40%;
}
.barra__lista {
  list-style: none;
  display: flex;
  gap: 10%;
  color: #322859;
  flex-grow: 1;
}
.barra li a {
  font-size: 2rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.7rem;
}

.divGenerico {
  padding: 2%;
  margin: 2%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 5%;
}
.divGenerico__lista {
  text-decoration: none;
  list-style: none;
}
.divGenerico__texto {
  font-size: 1.2rem;
}

.imagen {
  padding: auto;
  margin: auto;
  width: 40%;
  align-items: center;
}

.map {
  display: block;
  margin: 2rem auto;
  padding: auto;
  margin: auto;
  width: 60%;
}

.contactanos {
  list-style: none;
  margin: 2rem;
  text-align: center;
}
.contactanos__boton {
  display: inline-block;
  background-color: #322859;
  color: #D7D7D7;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
}

h1 {
  font-size: 3em;
  text-align: center;
  color: #322859;
  background-color: #E5E4DF;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem auto;
  padding: 2rem;
}
form label {
  display: flex;
  margin-bottom: 0.5rem;
}
form :nth-child(1), form div:nth-child(2), form div:nth-child(3) {
  grid-column: 1;
}

.pie {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #E5E4DF;
}
.pie__imagen {
  display: block;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}
.pie__div {
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.pie__div > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pie__div--imagen {
  width: 30%;
}
.pie__final {
  background-color: #FFFFFF;
  font-size: small;
  text-align: center;
}

/*Importación del diseñp responsive*/
/*Estructura creada para hacer el diseño responsive*/
@media screen and (max-width: 768px) {
  .barra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0.5%;
    margin: 2%;
    background-color: #FFFFFF;
  }
  .barra__imagen {
    padding: 0;
    margin: 0;
    width: 50%;
  }
  .barra__lista {
    flex-direction: column;
    gap: 0.5rem;
  }
  .barra__lista li a {
    font-size: 1.3rem;
  }
  .divGenerico {
    flex-direction: column;
    align-items: center;
  }
  .divGenerico__texto {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  form {
    grid-template-columns: 1fr;
  }
  .map {
    padding: auto;
    margin: auto;
    width: 70%;
  }
  .pie__div {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .pie__div > div {
    width: 50%;
    font-size: 0.9rem;
    justify-content: center;
  }
  .pie__div--imagen {
    padding: 0;
    margin: 0;
    width: 20%;
  }
  .pie__final {
    font-size: 0.8rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .barra__imagen {
    padding: auto;
    margin: auto;
    width: 60%;
  }
  .barra__lista {
    gap: 0.9rem;
  }
  .barra__lista li a {
    font-size: 1rem;
  }
  form {
    padding: 1rem;
  }
  .pie__div {
    gap: 1.5rem;
    align-items: center;
  }
  .pie__div--imagen {
    padding: auto;
    margin: auto;
    width: 40%;
  }
  .pie__final {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=style.css.map */
